.diagram-wrap {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--background-white);
    box-shadow: 0px 5px 18px 14px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.diagram-block {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie circle {
    fill: none;
    stroke-width: 8;
    cursor: pointer;
    transition: all 1.5s; 
}

.pie circle:nth-of-type(1) {
    stroke: var(--diagram-proteins);
    stroke-dasharray: 50 100;
}

.pie circle:nth-of-type(2) {
    stroke: var(--diagram-carbs);
    stroke-dasharray: 0 50 3 100;
}

.pie circle:nth-of-type(3) {
    stroke: var(--diagram-fats);
    stroke-dasharray: 0 53 47 100;
}

.pie circle:nth-of-type(4) {
    stroke: var(--diagram-empty);
    stroke-dasharray: 0 100;
}