.header {
    display: flex;
    align-items: center;
    height: 120px;
    width: 80%;
    padding: 15px;
    border-radius: 0 0 6px 6px;
    background-color: var(--background-dark);
    box-shadow: 0px 5px 18px 14px rgba(0, 0, 0, 0.18);
}

.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-bright);
}

.header__h1 {
    font-size: 35px;
    font-weight: 700;
}