@import url(./reset_styles.css);
@import url(./variables.css);
@import url(./header-style.css);
@import url(./total-lim-style.css);
@import url(./totalStyle.css);
@import url(./diagram-style.css);
@import url(./products-table-style.css);
@import url(./modal-style.css);

html {
    font-family: Roboto;
}

body {
    background-color: var(--background-main);
    display: flex;
    position: relative;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.hidden {
    display: none;
}