.modal-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background-modal);
}

.modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;
    height: 200px;
    border-radius: 6px;
    background-color: var(--background-main);
}

.modal-window__header {
    width: 100%;
    padding: 10px 10px 0 0;
    display: flex;
    align-items: end;
    justify-content: right;
}

.modal-window__close {
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.5s;
}

.modal-window__close:hover {
    color: darkred;
}

.set-target-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 80%;
    align-items: center;
}

.calory-target-input {
    width: 80%;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.calory-target-input::placeholder {
    text-align: center;
}

.set-target-btn {
    width: 80%;
    height: 40px;
    border-radius: 6px;
    background-color: var(--background-blue);
    transition-duration: 0.5s;
    color: var(--text-white);
}