.prod-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    border-radius: 6px;
}

.prod-manage-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--background-white);
    border-radius: 8px;
    box-shadow: 0px 5px 18px 14px rgba(0, 0, 0, 0.05);
}

.prod-manage-panel__h2-wrap {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-blue-hover);
    border-radius: 6px 6px 0 0;
    color: var(--text-white);
}

.prod-manage-panel__h2 {
    font-size: var(--h2-font-size);
}

.prod-manage-panel__btns-block {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px 15px 0;
}

.prod-manage-panel__btns-wrap {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.prod-manage-panel__btn {
    height: 40px;
    width: 30%;
    border-radius: 6px;
    background-color: var(--background-blue);
    color: var(--text-white);
    transition-duration: 0.4s;
}

.prod-manage-panel__btn:hover {
    background-color: var(--background-blue-hover);
}

.add-prod-panel {
    padding: 15px 0 0 0;
}

.add-prod-panel__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.add-prod-panel__btn-wrap {
    width: 90%;
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
}

.add-new {
    height: 40px;
    width: 40%;
    border-radius: 6px;
    background-color: var(--background-blue);
    color: var(--text-white);
    transition-duration: 0.4s;
}

.add-new:hover {
    background-color: var(--background-blue-hover);
}

.add-prod-panel__input {
    height: 40px;
    width: 20%;
    display: block;
    text-align: center;
    border: 1px solid var(--background-dark);
    gap: 10px;
}

.add-prod-panel__input-wrap {
    width: 90%;
    display: flex;
}

.products-list__header {
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-blue-hover);
    font-size: var(--h2-font-size);
    color: var(--text-white);
    border-radius: 6px 6px 0 0;
}

.prod-search-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: var(--background-blue-hover);
}

.prod-search_input {
    width: 70%;
    height: 40px;
    padding: 0 10px 0 10px;
    border: 1px solid var(--background-dark);
    background-color: var(--background-white);
}

.delete-all-btn {
    width: 20%;
    background-color: var(--background-blue);
    color: var(--text-white);
    border-radius: 6px;
    transition-duration: 0.4s;
}

.delete-all-btn:hover {
    color: var(--warning-red);
}

.prod-table {
    width: 100%;
    padding: 15px;
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
}

.prod-table__h2, .prod-table__header {
    padding: 15px 0 15px 0;
}

.prod-table__header {
    background-color: var(--background-blue-hover);
    color: var(--text-white);
}

.prod-table__arrow {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    font-size: 16px;
    font-weight: 700;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--text-white);
    transition-duration: 0.3s;
}

.active {
    color: rgb(255, 128, 0);
    border-color: rgb(255, 128, 0);
    background-color: var(--background-blue);
}

.ascend {
    rotate: 180deg;
}

.prod-table__arrow:hover {
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #ededed;
  }
  
  tbody tr:nth-child(even) {
    background-color: #e3e3e3a7;
  }

th {
    padding: 15px 0 15px 0;
}

th:nth-child(1) {
    width: 28%;
}
th:nth-child(2) {
    width: 16%;
}
th:nth-child(3) {
    width: 16%;
}
th:nth-child(4) {
    width: 16%;
}
th:nth-child(5) {
    width: 16%;
}
th:nth-child(6) {
    width: 4%;
}

tb {
    height: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.delete-icon-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del-icon-tb {
    width: 10%;
}

.delete-icon:hover {
    cursor: pointer;
}

.products-list {
    background-color: var(--background-white);
    box-shadow: 0px 5px 18px 14px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}