.total {
    width: 60%;
    background-color: var(--background-white);
    box-shadow: 0px 5px 18px 14px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.total__header-container {
    background-color: var(--background-blue-hover);
    font-size: 20px;
    color: var(--text-white);
    height: 40px;
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total__figures-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 20px;
}

.total__calories-container {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 6px;
}

.total__empty-notification {
    width: 200px;
    height: 40px;
    border-bottom: 1px solid var(--diagram-empty);
    display: flex;
    justify-content: center;
    align-items: center;
}

.total__calories-num {
    font-size: 18px;
    font-weight: 600;
} 

.total-eaten__li {
    text-align: left;
    padding: 3px 0 3px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.total-eaten__by-type {
    padding: 0 10px 15px 10px;
}

.total-eaten__subheader {
    text-align: left;
}

.total-eaten__li:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
}

.total-eaten__li:nth-of-type(1):before {
    background-color: var(--diagram-proteins);
}

.total-eaten__li:nth-of-type(2):before {
    background-color: var(--diagram-carbs);
}

.total-eaten__li:nth-of-type(3):before {
    background-color: var(--diagram-fats);
}